<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>collegeServelet</servlet-name>
        <servlet-class>Controller.collegeServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>Controller.contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactservlet</servlet-name>
        <servlet-class>Controller.contactservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutservlet</servlet-name>
        <servlet-class>Controller.aboutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feeservlet</servlet-name>
        <servlet-class>Controller.feeservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutServlet</servlet-name>
        <servlet-class>Controller.aboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feeServlet</servlet-name>
        <servlet-class>Controller.feeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>collegeServelet</servlet-name>
        <url-pattern>/collegeServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactservlet</servlet-name>
        <url-pattern>/contactservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutservlet</servlet-name>
        <url-pattern>/aboutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feeservlet</servlet-name>
        <url-pattern>/feeservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutServlet</servlet-name>
        <url-pattern>/aboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feeServlet</servlet-name>
        <url-pattern>/feeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
